/zoom.conf
/zoomus.conf
/QtProject.conf
/yay/
/xfce4/
/vivaldi/
/vivaldi-snapshot/
/VirtualBox/
/unity3d/
/torbrowser/
/Thunar/
/spotify/
/Slack/
/Signal/
/QtProject/
/pulse/
/protonmail/
/obs-studio/logs/
/nomacs/
/modorganizer2/
/microsoft-edge-dev/
/menus/
/lunarclient/
/heroic/
/google-chrome/
/google-chrome-beta/
/google-chrome-unstable/
/go/
/gh/
/glib-2.0/
/FTB\ Electron\ App/
/discord/
/chromium/
/cef_user_data/
/Code/
/BraveSoftware/
/1Password/
/Apple\ Music/
